
.course-title {
  padding-top: 23px;
  font-family: "Helvetica Neue";
  font-size: x-large;
  color: #5e5e5e;
}


.course-description {
  padding-top: 3px;
  font-family: "Helvetica Neue";
  font-size: medium;
  color: saddlebrown;
}

