<div class="content">
  <div class="left-side">
    <h1>Welcome to {{ data.title }}</h1>
    <script>alert("malicious script!!!")</script>
    <p>Congratulations! Your app is running. 🎉</p>
  </div>
  <div class="right-side">
    <img width="300" (click)="inIconClick()"
         src="../assets/angular-icon.png" alt="Angular Icon"/>
  </div>
  <div class="divider" role="separator" aria-label="Divider"></div>
</div>
<input class="demo" (keyup)="onKeyUp(titleInput.value)" [value]="data.title" #titleInput />
