
.top-menu {
    background: #1976d2;
    padding: 2px 15px;
}

.logo {
  max-height: 55px;
}


.courses {
    max-width: 400px;
    margin: 50px auto;
    font-family: "Helvetica Neue";
}

h1 {
  font-family: "Helvetica Neue";
  font-size: xxx-large;

}

course-description {
    font-size: large;
}

